input {
    padding: 3px 10px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #4aada3;
    color: #4aada3;
    font-size: 20px;
}

textarea:focus, input:focus{
    outline: none;
}